
<div ng-controller="clientController as ctr" class="container">
	<ul class="nav nav-tabs">
		<li ng-class="{active:ctr.isTab('upload')}"><a href ng-click="ctr.changeTab('upload')">Upload File</a></li>
		<li ng-class="{active:ctr.isTab('input')}"><a href ng-click="ctr.changeTab('input')">Input Text</a></li>
		<li ng-class="{active:ctr.isTab('gui')}"><a href ng-click="ctr.changeTab('gui')">GUI Test</a></li>
  	</ul>
  	<div ng-show="ctr.isTab('upload')">
		<h1>Select text file</h1>
		<input type="file" on-read-file="ctr.postContent($fileContent)" />
			<h2>Text file format</h2>
			<pre>{{inputFormat}}</pre>
			<h2>API output:</h2>
			<pre style="white-space: pre-wrap;">{{contents}}{{error}}</pre>
	</div>
	<div ng-show="ctr.isTab('input')">
		<h1>Input Text</h1>
		{{ctr.inputNew}}
		<form ng-submit="ctr.postContent2(inputExample)">
			<textarea rows='10' style="width:100%" ng-model='inputExample'>{{inputExample}}</textarea>
			<button type='submit'>Submit</button>
		</form><button ng-click='ctr.clearText()'>Clear</button>
			<h2>Text file format</h2>
			<pre>{{inputFormat}}</pre>
		<h2>API output:</h2>
			<pre style="white-space: pre-wrap;">{{contents2}}</pre>
	</div>
	<div ng-show="ctr.isTab('gui')">
		<h1>This is a GUI!!!</h1>
		<form>
			Start date:
			<input type="datetime-local" step="0.001" value="{{ctr.curr_display_time}}" name="startdate">
			End date:
			<input type="datetime-local" step="0.001" value="{{ctr.curr_display_time}}" name="enddate">
			<div ng-controller='codeController as codes'>
				<div click-anywhere-but-here='codes.setSelectedTpc(false)'>
					<div class='code-area'>
						<span class='code-tag' ng-repeat='code in currentCodesTpc' ng-click='codes.removeCodeTpc(code)'>{{code}}</span>
					</div>
					<input type="text" class='form-control code-width' ng-model='codes.searchForTpc' ng-change="codes.searchTpc(codes.searchForTpc)" ng-focus='codes.setSelectedTpc(true)'>
					<div ng-show='codes.textSelectedTpc'>
						<div class='code-option code-width'> 
							<li ng-repeat='code in searchCodesTpc' ng-click='codes.addCodeTpc(code)'>{{code}}</li>
						</div>
					</div>
				</div>
				<div click-anywhere-but-here='codes.setSelectedInstr(false)'>
					<div class='code-area'>
						<span class='code-tag' ng-repeat='code in currentCodesInstr' ng-click='codes.removeCodeInstr(code)'>{{code}}</span>
					</div>
					<input type="text" class='form-control code-width' ng-model='codes.searchForInstr' ng-change="codes.searchInstr(codes.searchForInstr)" ng-focus='codes.setSelectedInstr(true)'>
					<div ng-show='codes.textSelectedInstr'>
						<div class='code-option code-width'> 
							<li ng-repeat='code in searchCodesInstr' ng-click='codes.addCodeInstr(code)'>{{code}}</li>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
