<div class="container-fluid" ng-controller='guideController as ctr'>
	<h1>News API Documentation</h1>
	<h3>Input</h3>
	<pre>{{inputFormat}}</pre>
	<h3>Usage</h3>
	<p>Send a post request to http://pacificpygmyowl.herokuapp.com/api/query</p>
	<h4>AngularJS example <small>(make sure to include $http in the controller)<small></h4>
	<pre>
$http.post('http://pacificpygmyowl.herokuapp.com/api/query', input, {headers: {'Content-Type': 'application/json'} })
	.then()(function (response) {
		//do something
	},
	function(err) {
		//handle error
	});	
	</pre>
	<h4>NodeJS example <small>(Requires request module)</small></h4>
	<pre>var request = require('request');

var options = {
	url: 'http://pacificpygmyowl.herokuapp.com/api/query',
	method: 'POST',
	json: {
		"start_date": "yyyy-MM-ddTHH:mm:ss.SSSZ",
		"end_date": "yyyy-MM-ddTHH:mm:ss.SSSZ",
		"tpc_list": "[]",
		"instr_list": "[]"
	}
};

request(options, function (error, response, body) {
	if (!error &amp;&amp; response.statusCode == 200) {
		console.log(body.id)
	}
});</pre>
</div>