<!DOCTYPE html>
<html>
	<head>
		<title>Pacific Pygmy Owl</title>
        <link href="css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="release.html">API Releases</a>
                </div>
            </div>
        </nav>
        
        <!--unordered list center but left aligned--> 
        <style>
            ul { display:table; margin:0 auto;}
        </style>

		<h1 style="text-align: center">Pacific Pygmy Owl</h1>
        <br>
        <h4 style="text-align: center">Our Team:</h4>
        <ul>
            <li>Aaron Quan</li>
            <li>Waseem Sajeev</li>
            <li>Paul Dong</li>
            <li>Tony Kang</li>
        </ul>
    </body>
</html>
