<!DOCTYPE html>
<html>
	<head>
		<title>Pacific Pygmy Owl</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="javascript/appNg.js"></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/sidebar.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
	</head>
	<body ng-app="app">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Home</a>
                    <a class="navbar-brand" href="#/releases">API Releases</a>
                    <a class="navbar-brand" href="#/client">API Client</a>
                    <a class="navbar-brand" href="#/status">API Status</a>
                    <a class="navbar-brand" href="#/contact">Contact</a>
                    <!--a class="navbar-brand" href="#/guide">API Guide</a-->
                </div>
            </div>
        </nav>
        <div ng-view class='main-content'></div>
    </body>
</html>
