<div ng-controller='releasesController as ctr'>
	<div class="navbar sidebar">
		<div class="container-fluid">
			<ul class="nav nav-pills nav-stacked">
                <h3 style="font-size: 22px">Versions</h3>
				<li ng-repeat='release in ctr.releases' ng-class='{active:release.version === ctr.cVersion}'>
					<a href ng-click='ctr.selectRelease(release.version)' style='text-align: center'>{{release.version}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='sidebar-content'>
		<div ng-repeat='release in ctr.releases'>
			<div ng-show='ctr.isSelected(release.version)'>
				<div class="page-header">
						<h1>Version {{release.version}}  <small>{{release.date}}</small></h1>
				</div>
				<div ng-repeat='route in release.new_routes'>

					<div class="panel panel-warning">
					  <div class="panel-heading">
					    <h2 class="panel-title">
					    	<span class="label label-danger http-type" style="font-size=18px">POST</span>
					    	<code>
					    	/api{{route.name}}
					    	</code>
					    </h2>
					  </div>

					  <div class="panel-body">
					    <p><em>{{route.description}}</em></p>
							<p><b>Output Type:</b> {{route.output_type}}</p>
							<p>
								<div ng-show='route.schema.length'>
									<b>Schema:</b>
									<ul>
										<div ng-repeat='attr in route.schema'>
											<li type='circle'>{{attr}}</li>
										</div>
									</ul>
								</div>
							</p>
					  </div>

					</div>
				</div>
				<div class="well">
					<b>Release Notes:</b>
					<ul>
						<div ng-repeat='comment in release.implemented'>
							<li>{{comment}}</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
